<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <form action='/index' method = 'POST'>
            Email:<input type='text' name = 'email'><br>
            Password:<input type='pasword' name = 'password'>
            <input type='submit'>
        </form>
    </body>
</html>